body{
    background-color: #1f5d68;
    color: rgb(255, 255, 255);
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: #73caad;
    padding: 0px;
    margin: 0px;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(44, 44, 44);
    
}